.fi-sidebar-nav {
    background-color: #149fd8 !important;
    row-gap: 0rem !important;
}
.fi-sidebar-nav .fi-sidebar-nav-groups {
    row-gap: 0rem !important;
}

.fi-sidebar-header {
    background-color: #2f2f2f !important;
    justify-content: center;
}
.fi-logo {
    justify-content: center;
    align-items: center;
}
.fi-sidebar-group-label {
    color: white !important;
}
.fi-sidebar-item-label {
    color: white !important;
}
.fi-sidebar-item-icon {
    color: white !important;
}

.fi-icon-btn-icon {
    color: white !important;
}
.fi-topbar.sticky .fi-icon-btn-icon {
    color: #2f2f2f !important;
}
.fi-sidebar-item-button:hover,
.fi-sidebar-item-button:focus {
    background-color: #2f2f2f !important;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-button {
    background-color: #2f2f2f !important;
}

.fi-sidebar-item-button {
    background-color: #149fd8 !important;
}


.fi-dropdown-list-item-icon {
    width: 3rem;
    height: 3rem;
}